*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* width: 1440px; */
    background-color: #080F17;
    padding: 0 48px;
}

.header{
    width: 90vw;
    height: auto;
    background-color:#080F17;
    padding-top: 24px ;
    padding-left: 3vw;
    gap: 1vw;
    display: flex;
    padding: 24px 32px 24px 32px;
    justify-content: center;
    margin: auto;
}

.steampunk{
    width: 75vw;
    height: auto;
    background-color:#A2D2600F;
    display: flex;
    border: 1.5px;
    justify-content: space-between;
    padding: 0 2vw;
    align-items: center;
    border-radius: 16px;
}

.div1{
    width: 15vw;
    height: 30%;
    display: flex;
    justify-content: space-between;

}

.div2{
    width: 15vw;
    height: auto;
    font-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D6DDE6;
}

.div3{
    width: 5vw;
    height: 24px;
    color: #D6DDE6;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inner-div{ color:#D6DDE6;

}


.container {
    width: 100%;
    height: auto;
    padding: 48px 48px;
    background-color: #080F17;

}
.main-content{
    height: auto;
    width: 100%;
}
.div01{
    height: auto;
    width: 100%;
    border-bottom: 1.5px;
    background-color: #080F17;
    padding: 96px 0px;
    display: flex;
    flex-direction: column;
    gap: 48px;

}

.mechanical{
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
    height: 240px;
    width: 90vw;
    font-family:'Plus Jakarta Sans',sans-serif ;
    text-align: center;
    color: #D6DDE6;


}

.photo1 img{
    height: 672px;
    width:  1344px;
    border-radius:36px;
    border: 1.5px;

}


.div02{
    width: 1344px;
    height: 1678px;
    border: 1.5px;
    padding-top:200px ;
    padding-bottom: 96px;
    background-color: #080F17;
}

.text1{
    height: 476px;
    width: 900px;
    font-size: 64px;
    font-weight: 700;
    line-height: 68px;
    font-family: 'Plus Jakarta Sans',sans-serif ;
    text-align: left;
    color: #D6DDE6;

}

.photo2 img{
    height: 810px;
    width: 1344px;
    margin-top: 96px;
    border: 1.5px;

}


.div03{
    height: 1191px;
    width: 1344px;
    border: 1.5px;
    background-color: #D6DDE6;

}


.row1{
    height: 429px;
    width: 1344px;
    padding: 48px 0;
    gap: 48px;
    background-color: #080F17;
    display: flex;
}

.project1{
    width: 416px;
    height: 333px;
    gap: 8px;

}
.project1 img{
    height: 277px;
    width: 416px;
}
    

.p1{
    font-family: 'Plus Jakarta Sans',sans-serif;
    font-weight:500;
    font-size: 20px;
    line-height: 24px;
    color: #D6DDE6;
}

.p2{
    font-family: 'Plus Jakarta Sans',sans-serif ;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #D6DDE69E;
}





.project1 :hover{
    width: 439px;
    height: 300px;
    transition: 2s;
    transition-property: all;
    transition-timing-function: linear;
    border-radius: 50%;


}

.div04{
    height: 488px;
    width: 1344px;
    padding: 48px 0px;
    background-color: #080F17;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spacer{
    width: 648px;
    height: 154px;
    
}

.text02{
    height: 192px;
    width: 648px;
    background-color: #080F17;
    font-weight: 500;
    font-family:'Plus Jakarta Sans',sans-serif ;
    font-size: 24px;
    line-height: 32px;
    color: #D6DDE6;



}

.div05{
    height: 412px;
    width: 1344px;
    /* background-color: beige; */
    padding: 48px 0px;
    gap: 48px;
    border: 1.5px;
    /* margin-bottom: 24px;
    padding-bottom: 24px; */

}

.div05 p{
    font-weight: 700;
    font-family: 'Plus Jakarta Sans',sans-serif;
    font-size: 48px;
    line-height: 52px;
    text-align: center ;
    color: #D6DDE6;

   


}

.long-container{
    height: 216px;
    width: 1344px;
    background-color:#080F17;
    margin-top: 24px;
    display: flex;
    overflow-x: auto;
    

    
}

.div001{
    width: 288px;
    height: 192px;
    border-radius: 16px;
    background-color: #FFFFFF0A;
    border: 1.5px;
    padding: 24px;
    gap: 16px;
    margin-right: 16px;
    border: 1.5px solid #FFFFFF33;
}

.A{
    height: 216px;
}



.dibba1{
    width: 240px;
    height: 48px;
    /* background-color: aqua; */
    display: flex;
    margin-right: 16px;

}
.dibba2 p{
    font-family: 'Plus Jakarta Sans',sans-serif;
    font-size: 20px;
    font-weight: 500px;
    line-height: 24px;
    color: #D6DDE6;
    text-align: left;
}

.dibba1 img{
    height: 48px;
    width: 48px;
    border-radius: 999px;
}

.abc{
    margin-left:10px;

}

.abc :nth-child(1){
    font-family: 'Plus Jakarta Sans',sans-serif; 
    font-weight: 700; 
    font-size: 15px; 
    line-height: 20px;
    text-align: left;
    color: #D6DDE6;                                                                
}

.abc :nth-child(2){
    font-family: 'Plus Jakarta Sans',sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #D6DDE69E;
    text-align: left;
}







.dibba2{
    width: 240px;
    height: 80px;
    padding-bottom: 80px;
    gap: 12px;
    opacity: 80%;
    /* background-color: #FFFFFF0A; */
    margin-top: 12px;
    display: flex;
    margin-right:16px;
}

.hello{
    width: 48px;
    height: 96px;
    display: flex;
    justify-content:end;
    align-items: center;
}

.hyy{
    height: 96px; 
    width: 1px; 
    background-color: #D6DDE633;
}

.B{height: 72px;}
.b{height: 72px;}


.C{height: 48px;}
.c{height: 48px;}


.space1{
    margin-left: 18px;
}



.big_line{
    width: 1344px; 
    height:2px; 
    border: 1.5px; 
    background-color: #FFFFFF33; 
    text-align: center; 
    padding-left: 48px;
}


.footer{
    height: 168px;
    width: 1344px;
    border-top: 1.5px;
    padding-top: 96px;
    padding-bottom: 24px;
    gap: 24px;
    /* background-color: aquamarine; */
    margin-top: 24px;
    padding-left: 48px;
}


.long-footer-container{
    height: 48px;
    width: 1344px;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.long-footer-container :nth-child(1){
    font-family: 'Plus Jakarta Sans',sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #D6DDE69E;
}


.long-footer-container :nth-child(2){
    width:162px; 
    height: 48px; 
    border: 1.5px solid #D6DDE633;
    border-radius: 8px;
    display: flex; 
    align-items: center;
    font-family: 'Plus Jakarta Sans',sans-serif;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    color: #D6DDE6;
}